@import url(admin-main-mobile.css);

body {
    /* font-family: var(--font-primary); */
    background-color: #DFDFDF;
    padding-bottom: 30px;
    overflow-y: hidden;
}

nav {
    background-color: var(--white);
    /* border-bottom: 6px solid var(--viridian); */
    box-shadow: var(--topnav-boxShadow);

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px 100px;

    width: 100%;
    min-height: 60px;
    max-height: 60px;
    box-sizing: border-box;

    position: sticky;
    top: 0;
    /* left: 0; */

    z-index: 11;
}

nav .mobile_menu {
    display: none;
}

nav > * {
    /* outline: 1px solid red; */
    flex: 1;
}

nav .logo {
    background-color: var(--dark-grey);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
nav .logo a {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .logo img {
    width: 100px;
}

nav section:nth-child(2) {
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
}
nav section:nth-child(2) .buttons {
    display: flex;
    gap: 40px;
}
nav section:nth-child(2) .buttons button{
    padding: 5px;
    color: var(--color-black);
    background: none;
    border: none;
    position: relative;
    border-radius: 50%;
    transition: 0.15s ease;
}
nav section:nth-child(2) .buttons button span{
    font-size: 22px;
}
nav section:nth-child(2) .buttons button:hover{
    color: var(--viridian);
}

nav section:nth-child(2) .buttons button.notif_unread_symbol::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--def-color-alert);
    position: absolute;
    top: 5px;
    right: 3px;
    z-index: 2;
}

nav section:nth-child(2) .vertical_bar {
    width: 1px;
    height: 30px;
    background-color: black;
}

nav section:nth-child(2) .profile_dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

nav section:nth-child(2) .profile_dropdown .dropbtn {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;

    cursor: pointer;
    transition: 0.15s ease;
}
nav section:nth-child(2) .profile_dropdown .dropbtn:hover {
    background-color: #dfe6e9;
}
nav section:nth-child(2) .profile_dropdown .dropbtn .droplisticon {
    /* outline: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

nav section:nth-child(2) .profile_dropdown .droplist {
    box-shadow: var(--topnav-boxShadow);
    background-color: white;
    padding: 10px;

    min-width: 200px;
    /* min-height: 100px; */

    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    /* border-left: 4px solid var(--viridian); */
    border-radius: 2px;

    position: absolute;
    top: 135%;
    right: 0;
    z-index: 10;

    transition: opacity 0.15s ease, transform 0.15s ease;

    display: none;
}

nav section:nth-child(2) .profile_dropdown .droplist .content {
    /* outline: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 10px;

    box-sizing: border-box;

    width: 100%;
    background-color: transparent;
}

nav section:nth-child(2) .profile_dropdown .droplist .content > a {
    background-color: transparent;
    color: black;
}

nav section:nth-child(2) .profile_dropdown .droplist .content > a:hover {
    color: var(--viridian);
}




.main {
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
}

/* Side Nav */
.sideNav {
    background-color: white;
    max-width: 300px;
    min-width: 300px;
    height: 100vh;

    padding: 10px 0;
    box-sizing: border-box;

    overflow-y: auto;
}
.sideNav ul {
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
}
.sideNav ul li {
    list-style-type: none;
    width: 100%;
    height: 55px;
    box-sizing: border-box;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sideNav ul li a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;

    box-sizing: border-box;

    padding: 10px 20px;

    width: 100%;
    height: 100%;
    flex: 1;

    font-size: 0.9rem;
    font-family: var(--font-primary);

    /* outline: 1px solid red; */
    transition: 0.05s linear background;
}

.sideNav ul li:hover a {
    background-color: var(--dark-spring-green);
    color: white;
}

.sideNav .nav_active {
    background-color: var(--dark-spring-green);
    color: white;
    font-weight: bold;
}


/* content */
.main_content {
    background-color: white;
    width: calc(100% - 325px);
    min-height: 87vh;
    max-height: 90vh;
    overflow-y: auto;
    
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
}