@import url(fonts.css);

:root {
    --vh: 100vh;

    --color-black100: #121a1a;
    --color-black200: #0d1515;

    --color-white: #FFFFFF;
    --color-dark: #34495e;
    --color-aqua: #006266;
    --color-livid-blue: #1e3799;
    --color-deep-blue: #1B1464;
    --color-black: #1e272e;
    --color-yellow: #ffe68d;
    --white: #FEFEFEff;
    --mint-cream: #E4ECE3ff;
    --dark-spring-green: #0C7B3Dff;
    --light-spring-green: #17994f;
    --citrine: #D2D129ff;
    --shamrock-green: #5D9E71ff;
    --dartmouth-green: #026235ff;
    --viridian: #358361ff;
    --olive: #9C8700ff;
    --olive-2: #ad9405;
    --cambridge-blue: #71A489ff;
    --ecru: #C1B96Eff;
    --chigong: #d63031;
    --red-orange: #ff3838;
    --dorn-yellow: #fff200;

    /* SYSTEM DEFAULT */
    --def-color-alert: var(--red-orange);
    --def-color-warning: var(--dorn-yellow);


    --btn-background-color: var(--olive);
    --btn-background-color-hover: var(--olive-2);
    --btn-text-color: var(--white);
    --btn-border-radius: 32px;
    --btn-padding: 10px 25px;
    --btn-font-family: "Montserrat", Arial, Helvetica, sans-serif;
    --btn-font-weight: bold;
    --btn-transition: 0.25s all ease;
    --btn-font-size: 1.05rem;
    --btn-transition: background 0.25s ease;

    --modal-borderRadius: 6px;
    --modal-inputBox-borderRadius: 4px;

    --topnav-boxShadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    --font-primary : "Montserrat", Arial, Helvetica, sans-serif;
}

[data-bs-theme="light"] {
    --color-primary: var(--color-white);
    --color-secondary: var(--color-dark);
    --color-tertiary: var(--color-black);
}

[data-bs-theme="dark"] {
    --color-primary: var(--color-dark);
    --color-secondary: var(--color-white);
    --color-tertiary: var(--color-white);
}

